<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="row p-5">
        <div class="col-sm-6 offset-3 text-center">
          <h2 class="mb-5">Puedes subir un archivo de Excel(.xlsx)</h2>
          
          <% if (message.length > 0) { %>
            <div class="alert alert-success">
              <%= message %>
            </div>
          <% } %>

          <% if (errorMessage.length > 0) { %>
            <div class="alert alert-danger">
              <%= errorMessage %>
            </div>
          <% } %>

          <div class="border rounded p-3">
            <form id="uploadForm" action="/dashboard/upload" method="post" enctype="multipart/form-data">
              <div class="form-group my-5">
                <input type="file" name="excelFile" id="file" class="form-control-file" required="true">
              </div>
              <input type="submit" form="uploadForm" value="Enviar" class="btn btn-dark btn-block">
            </form>
            <a href="/dashboard/list" class="mt-2 btn btn-block btn-success">Ver datos</a>
            <form id="deleteForm" class="mt-2" action="/dashboard/list" method="POST">
              <button type="submit" form="deleteForm" class="btn btn-block btn-danger" >Borrar todo</button>
            </form>
          </div>


        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/23d2d37c03.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
