<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/upload">Subir archivo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/list">Ver datos</a>
      </li>

    </ul>
    <a href="/auth/logout" class="btn btn-secondary ml-auto">Salir</a>
  </div>
</nav>